DB_PORT=5432
DATABASE_URL="postgresql://oficina:oficina@localhost:5432/oficina?schema=public"
PORT=3000
JWT_SECRET="troque-este-valor-por-um-segredo-longo-com-no-minimo-32-caracteres"

# Validade do token JWT (numero de segundos ou 30m / 1h / 7d)
JWT_EXPIRES_IN=1h
